swagger: '2.0'
info:
  description: 'This is a simple api documintation, build with love by Fawzi E. Abdulfattah'
  version: 1.0.0
  title: Online Hospital
  contact:
    email: iifawzie@gmail.com
host: www.google.com
basePath: /api
tags:
  - name: Auth
    description: Everything related to Authentican
paths:
  /signup:
    post:
      tags:
        - Auth
      summary: The signup end point for users
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/signup'
      responses:
        '201':
          description: 201 (Created)
          schema:
            $ref: '#/definitions/signupRes'
        '400':
          description: '400 (ERROR), '
          schema:
            $ref: '#/definitions/Error'
  /signin:
    post:
      tags:
        - Auth
      summary: The signin end point for users
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/signinResponse'
      responses:
        '200':
          description: 200 (successful)
          schema:
            $ref: '#/definitions/signinResponse'
        '401':
          description: 401 (Username or password is incorrect)
          schema:
            $ref: '#/definitions/signinError'
definitions:
  signup:
    type: object
    properties:
      username:
        type: string
      phone_number:
        type: string
      password:
        type: string
      province:
        type: string
    example:
      phone_number: 10902431111795
      username: f3adw1szdii
      password: hala
      province: egypt
      first_name: fawzi
      last_name: hala
  signupRes:
    type: object
    properties:
      status:
        type: boolean
      message:
        type: string
    example:
      status: true
      data:
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImYzYWR3MXN6ZGlpIiwidXNlclJvbGUiOiJ1c2VyIiwiaWF0IjoxNTg4NjQ3NzkxLCJleHAiOjE1ODk1MTE3OTF9.q16hbHroXLD6own-9Bhh32uErZfh0sYfhUYaaCaRpq4
        username: f3adw1szdii
        first_name: fawzi
        last_name: hala
  signinResponse:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
    example:
      status: true
      data:
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImYzYWR3MXN6ZGlpIiwidXNlclJvbGUiOiJ1c2VyIiwiaWF0IjoxNTg5MDAzMzMwLCJleHAiOjE1ODk4NjczMzB9.YPwfiTpfqUgtroESoxni417Y1OS_Foy_pVpdJrFjJC4
        username: f3adw1szdii
        userRole: user
  signinError:
    type: object
    properties:
      status:
        type: boolean
      message:
        type: string
    example:
      status: false
      message: User with this username is not found
  Error:
    type: object
    properties:
      status:
        type: boolean
      message:
        type: string
    example:
      status: false
      message: 'Error message will appear here, it will be an array if there''re multiple error'
